# This is an example of environment variables required for the application.

# Database configuration
DB_FILE='url_state.db'

# API configuration
API_URL='http://127.0.0.1:5000'

# Logging configuration
LOG_LEVEL='DEBUG'

# Other configurations
OTHER_CONFIG='value'